* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img {
    width: 100%;
}

/* HEADER */
header {
    margin: 30px 0;
}
.logo {
    width: 300px;
    margin: auto;
}

/* MAIN */
/* Filters */
.add-todo-filter {
    text-align: center;
    margin: 30px 0;
}

/* Todos */
.todos {
    width: 70%;
    background-color: lightgrey;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
}
.todos li {
    list-style-type: none;
    border-bottom: 1px solid black;
    padding: 15px 0 5px;
}
.todos li.done span {
    text-decoration: line-through;
}
.todos li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.todos .fa-dumpster {
    float: right;
    padding-right: 10px;
    cursor: pointer;
}
.todos .checkbox {
    display: inline-block;
    cursor: pointer;
}